@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #faf9f7;
  color: #4a4a4a; 
  padding: 20px;
}

h1{
      font-family: "Parisienne", cursive;
      text-align: center;
      color: #8b5e3c;
}

a {
  color: #b87b56;
  text-decoration: none;
}

a:hover {
  color: #8b5e3c;
  text-decoration: underline;
}
